[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
checkov = "==2.2.328"
flask = "==2.2.2"
flask-apscheduler = "==1.12.4"
python-dotenv = "==0.21.0"
gunicorn = "==20.1.0"

[dev-packages]
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-mock = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
