[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-apscheduler = "==1.13.0"
python-dotenv = "==1.0.0"
gunicorn = "==21.2.0"
checkov = "==3.2.494"

[dev-packages]
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-mock = "*"
types-pyyaml = "*"

[requires]
python_version = "3.11"
