[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
checkov = "==2.2.189"
click = "==8.0.1"
colorama = "==0.4.4"
flask = "==2.0.1"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.1"
markupsafe = "==2.0.1"
python-dotenv = "==0.18.0"
werkzeug = "==2.0.1"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.10"
